<h2>Bands</h2>
<div class="row" *ngIf="bandList$ | async as bandList" >
    <div class="form-group">
        <button class="btn btn-primary"[disabled]="bandList.isTriggered" type="button" (click)="refreshDataClickSubject.next()">Refresh</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Formation year</th>
                <th>Is active</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf= "bandList.isTriggered">
                <td colspan="3">Loading...</td>
            </tr>
            <tr *ngFor="let band of bandList.band">
                <td>{{ band.name }}</td>
                <td>{{ band.formationYear }}</td>
                <td>{{ band.isActive }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<!-- 
  <ng-template #loading> 
    <p>Loading...please wait</p>
  </ng-template>  -->
